@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.box{
  background-color: black;
}
.box-before{
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
}



